body {
    background-color: aquamarine;
}
  
  
#mainNav {
    background-color: #e4d143;
}  
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: rgb(226, 26, 26);
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
  
#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: rgb(201, 25, 25);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
  
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}
  
@media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }
  
.formcontainer{
    width: 1000px;
    height: 825px;
    /* border: #212529 solid 4px; */
    margin-top: 1%;
    margin-left: 15%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px #0c7de7;
}
.personaldeatails{
    width: 950px;
    height: 300px;
    /* border: #212529 solid 4px; */
    margin-left: 2%;
    margin-top: 1%;

}
.address{
    width: 950px;
    height: 165px;
    /* border: #212529 solid 4px; */
    margin-left: 2%;
    margin-top: 1%;
}
.paddress{
    width: 950px;
    height: 165px;
    /* border: #212529 solid 4px; */
    margin-left: 2%;
    margin-top: 1%;
}
.language{
    width: 950px;
    height: 300px;
    /* border: #212529 solid 4px; */
    margin-left: 2%;
    margin-top: 1%;
}
.education{
    width: 950px;
    height: 300px;
    /* border: #212529 solid 4px; */
    margin-left: 2%;
    margin-top: 1%;
}
.header{
    border: #0c7de7 solid 2px;
    border-radius: 7px;
    box-shadow: 2px 2px 1px 1px #0c7de7;
    margin-top: 5%;
}
.headercontent{
    /* border: #212529 solid 4px; */
    margin-left: 70%;
}
/* table,tr,td{
    border: #212529 solid 2px;
} */

.log-out{
    margin-left: 20%;
    border-radius: 5px;
    background-color: hsl(0, 82%, 66%);
    /* border: transparent; */
    width: 100px;
}

.savebutton{
    border-radius: 5px;
    background-color: rgb(29, 141, 19);
    border: transparent;

}
.input{
    border-radius: 5px;
    border: transparent;
    height: 20px;
    box-shadow: none;
    width:310px; 
}
select{
    width: 150px;
    border: transparent;
    border-radius: 5px;
    background-color: white;
}
.input-address{
    border-radius: 5px;
    border: transparent;
    height: 20px;
    box-shadow: none;
    width:300px;
    height: 50px;
}
.personaldtails-title{
  background-color:  #0fb4dd;
  border-radius: 5px;
  color: bisque;
  height: 35px;
  font-size: 20px; 
  font-family: 'Aleo', serif;
}
.marks{
    border-radius: 5px;
    border: transparent;
    box-shadow: none;
    width: 90px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}