body {
  background-color: aquamarine;
}


#mainNav {
  background-color: #e4d143;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: rgb(226, 26, 26);
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: rgb(201, 25, 25);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.formcontainer{
  width: 800px;
  height: 470px;
  /* border-left: #0fb4dd solid 4px;
  border-right: #0fb4dd solid 4px;
  border-bottom: #0fb4dd solid 4px; */
  margin-top:1.5%;
  margin-left: 19%;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px #0c7de7;
}
.msg{
  margin-top: 10%;
  border: #212529 4px solid;
  margin-left: 2%;
  border-radius: 5px;
  /* box-shadow: 3px 3px 5px 5px #0c7de7; */
}
.formtitle{
  /* border: #0fb4dd solid 4px; */
  background-color:  #0fb4dd;
  border-radius: 5px;
  color: bisque;
  height: 40px;
  font-size: 25px; 
  font-family: 'Abril Fatface', cursive; 
}
.frominput{
  margin-top: 3%;
  margin-left: 1%;
  /* border: teal solid 3px; */
}
/* table,td,tr{
  border: #e4d143 solid 4px;
  margin-left: 4%;
} */
/* .pic{
  border: #e4d143 solid 4px;
} */
.header{
  border: #0c7de7 solid 2px;
  border-radius: 7px;
  box-shadow: 2px 2px 1px 1px #0c7de7;
  margin-top:3.5%;
}
.headercontent{
  /* border: #212529 solid 4px; */
  margin-left: 70%;
}
  
.pic{
  width: 675px;
  height: 360px;
  margin-left: 8%;
}
.td1{
  width: 225;
}
.picupload{
  height: 170px;
  width: 150px;
  margin-left: 20%;
}
.signupload{
  height: 95px;
  width: 200px;
  margin-left: 20%;
}
/* .upload{
  border: #212529 solid 2px;
} */
.fullupload{
  border-radius: 5px;
  background-color: rgb(29, 141, 19);
  border: transparent;
  width: 100px;
}